name: Mobile CI
on:
  push:
    paths: ["apps/mobile/**", ".github/workflows/mobile.yml"]
  pull_request:
    paths: ["apps/mobile/**", ".github/workflows/mobile.yml"]

jobs:
  analyze_and_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/mobile
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Flutter Pub Get
        run: flutter pub get
      - name: Analyze
        run: dart analyze
      - name: Test
        run: flutter test
